.card{
    margin-top: 4rem;
    display: flex;
    gap: 30px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 30px;
    color: #282d34;
    font-weight: 700;
}

.info{
    max-height: 300px;
}

.card img{
    min-width: 300px;
    aspect-ratio: 1/1;
}

.piece__of__name{
    min-width: 300px;
    margin-bottom: 7%;
}

.description{
    user-select: none;
    color: #323e49;
    font-size: 20px;
    font-weight: initial;
}

.description div{
    background-color: #323E49;
    height: .5px;
}